body{
	padding: 25px;
	margin: 0;
	background-size: 50%;
	background: #ccc;
}
#top, #main, #bottom{
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
	display: block;
	clear: both;
	box-sizing: border-box;
}
.main-navigation{
	float: left;
	width: 100%;
	background: black;
	padding: 10px 0;
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.main-navigation li{
	display: inline;
	padding: 10px;
	background: black;
}
.main-navigation li:hover{
	background: #444;
}
.main-navigation li a{
	line-height: 14px;
	color: white;
}
.main-navigation li:hover a{
	color: black;
}
.main-navigation .active{
	font-weight: bold;
	color: black;
}

/*second column*/
#main .wrapper{
	float: left;
	background: white;
	padding: 5%;
	width: 90%;
}
#main .info{
	width: 100%;
	float: left;
}
#bottom{
	background: black;
	color: white;
	padding: 10px 10px 5px;
	text-align: right;
}
#bottom a{
	color: whitesmoke;
}
